<div class="content-wrapper generic--table--layout">
    <h3>order list</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body with-filter">
        
        <input type="hidden" name="#{csrf_token_name}" value="#{csrf_token}" />
        <div class="table--place">
            <div class="row">
                <div class="col-sm-12">
                    <table id="tbl_orders_list" class="table table-striped table-hover datatable_act dataTables_wrapper form-inline dt-bootstrap no-footer">
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
